click==7.1.2
flake8==3.7.8
Flask==1.1.2
Flask-Cors==3.0.9
future==0.18.2
ipykernel==5.1.4
ipython==7.16.1
ipython-genutils==0.2.0
jupyter==1.0.0
jupyter-client==6.1.5
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab==1.2.6
jupyterlab-server==1.0.9
matplotlib==3.2.2
notebook==6.0.3
numpy==1.19.0
packaging==20.4
pandas==1.0.4
pandocfilters==1.4.2
pickleshare==0.7.5
pyarrow==1.0.1
pybaseball
requests
scikit-learn
scipy
statsmodels
sklearn
csv_to_sqlite


